* {
  padding: 0;
  margin: 0;
  border: 0;
  
}

.denuncia {
  text-align: center;
  width: 40%;
  min-width: 200px;
  margin-bottom: 80px;
}

.denuncia button{
  width: 80%;
  color: #343a40;
}


@media (max-width: 1000px) {

    

  .denuncia button {
      font-size: 14px;
  }

  .denuncia h4 {
      font-size: 14px;
  }

  
}

@media (max-width: 500px){


  .denuncia h4{
      font-size: 12px;
  }

  .denuncia button {
      font-size: 12px;
  }

  

}