* {
  padding: 0;
  margin: 0;
  border: 0;
  
}



.body{
  background: url("../../assets/img/favelabg.png") center no-repeat;
  background-size: cover;
  min-height: 150vh; 
  
}

.integrantes{
  display: flex;
  justify-content: center;
}

ul, .titulo {
  font-family: 'Lacquer', cursive;
}