* {
  padding: 0;
  margin: 0;
  border: 0;
  
}

.body{
  background: url("../../assets/img/favelabg.png") no-repeat;
  background-size: cover;
  min-height: 100vh; 
  
}

.container {
  margin-top: 10px;
}



.titulo {
  font-family: 'Lacquer', cursive;
}














@media (max-width: 1000px) {

    

  .denuncia a {
      font-size: 14px;
  }

  .denuncia h4 {
      font-size: 14px;
  }

  .btn-menu {
      font-size: 14px;
  }
}

@media (max-width: 500px){


  .denuncia h4{
      font-size: 12px;
  }

  .denuncia a {
      font-size: 12px;
  }

  .btn-menu{
      font-size: 12px;
  }

}

@media (max-width: 375px) {

  .btn-menu {
      font-size: 10px;
  }

  footer {
      font-size: 12px;
  }
  
}